
.Quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  margin-top: 2em;
  width: 100%;
  border: 1px solid #d6dbf5;
}

.question-panel {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.question {
  color: #293264;
  font-family: "Karla", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

/* option classes */

.option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  float: left;
  border-radius: 0.8em;
  padding: 0.5em 2em;
  margin-bottom: 10px;
  margin-right: 1.5em;
}

.option-text {
  font-weight: 500;
  white-space: nowrap;
}

.unrevealed-option {
  outline: 1.5px solid #4d5b9e;
}
.unrevealed-option .option-text {
  color: #293264;
}

.selected-option {
  outline: none;
  background: #d6dbf5;
}
.selected-option .option-text {
  color: #293264;
}

.unselected-correct {
  outline: none;
  background: #94d7a2;
}
.unselected-correct .option-text {
  color: #293264;
}

.unselected-incorrect {
  outline: 1.5px solid #4d5b9ea0;
}
.unselected-incorrect .option-text {
  color: #4d5b9ea0;
}

.selected-correct {
  outline: none;
  background: #26502f;
}
.selected-correct .option-text {
  color: #f5f7fb;
}

.selected-incorrect {
  outline: none;
  background: #f8bcbca0;
}
.selected-incorrect .option-text {
  color: #4d5b9ea0;
}

/* footer */

.quiz-footer {
  padding-bottom: 1em;
}

.score-info {
  height: 1.4em;
  font-size: 1.4em;
  font-weight: bold;
}

.quiz-navigation {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.quiz-navigation button {
  padding: .8em 2em;
  gap: 100px;
}
