.question {
  font-weight: bold;
}

.option {
  color: white;
  margin: 0 1em;
}

.unrevealed-option {
  background-color: gray;
}
.selected-option {
  background-color: turquoise;
}
.unselected-correct {
  background: lightgreen;
}
.unselected-incorrect {
  background-color: rgb(34, 34, 34);
}
.selected-correct {
  background-color: darkgreen;
}
.selected-incorrect {
  background-color: darkred;
}

.navigation button {
  margin: 1em;
}
